<ion-view title="Autor" hide-back-button="true" cache-view="false">
    <ion-content padding="true" class="has-header">
    	<div class="spacer" style="width: 300px; height: 6px;"></div>
        <h2 id="author-heading3" style="color:#000000;text-align:center;">Jonathan Vasquez Serrudo</h2>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
        <a ng-click="OpenGitHub()" id="author-button2" class="button button-dark  button-block icon ion-social-github"> Perfil de Github</a>
        <a ng-click="OpenMail()" id="author-button3" class="button button-positive  button-block icon ion-android-mail"> vaskezjohn@gmail.com</a>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div id="author-markdown3" style="color:#000000;text-align:center;">
            <p>
                <strong>UTN FRA 2017</strong>
            </p>
        </div>
	</ion-content>
</ion-view>