<ion-view title="desafiosTabs" id="page1">
    <ion-tabs class="tabs-positive tabs-icon-top" id="desafiosTabs-tabs1">
        <ion-tab title="Autor" icon="ion-person" href="#/tab/autor" id="desafiosTabs-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Crear Desafio" icon="ion-android-create" href="#/tab/crear" id="desafiosTabs-tab2">
            <ion-nav-view name="tabs-crearDes"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Lista Desafios" icon="ion-speakerphone" href="#/tab/lista" id="desafiosTabs-tab3">
            <ion-nav-view name="tab-lista"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Aceptados" icon="ion-ribbon-a" href="#/tab/aceptados" id="desafiosTabs-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Perfil" icon="ion-android-contact" href="#/tab/perfil" id="desafiosTabs-tab5">
            <ion-nav-view name="tabs-perfil"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>